/*Screen sizes*/
$xxs: 575px;
$xs: 767px;
$sm: 991px;
$md: 1200px;
$lg: 1400px;

/* Fonts */ 
$main-font: 'Montserrat', sans-serif;

/* Font sizes */
$font-size-base: 16px !default;

/* Colors */